extends layout
  
block content
  .p-4.p-md-5.mb-4.text-white.rounded.bg-dark
    .col-md-6.px-0
      if u == undefined
        h1.display-4.fst-italic Witam na #{title} 
        p.lead.my-3.p-3 nie zalogowany Gościu
      else
        h1.display-4.fst-italic Witam na #{title} 
        p.lead.my-3.p-3 #{u}
      p.lead.my-3.px-2
        | na stronie z listą gier planszowych. 
        | Strona posiada 3 zakładki dla użytkowników zalogowanych: 
        ul.list-group 
          li.list-group-item Lista gier plasznowych
          li.list-group-item Gry z podziałem na kategorie
          li.list-group-item Ceny gier planszowych

