h3 Informacje
p
    | Dziękujemy za utworzenie konta na naszej stronie.
    | Poniżej znajdziesz link aktywacyjny do twojego konta.
h4 Aktywacja konta
p Link aktywacyjny:
    a(href=activationLink)= activationLink
p Tomasz Pudło &copy; 2021