extends layout

block content
    form(action='register/reg', method="POST")
        .mb-3
            label.form-label Login
            input.form-control(type="text", name="username", placeholder="" required)
        .mb-3
            label.form-label Hasło
            input.form-control(type="password", name="password", placeholder="", required)
        .mb-3
            label.form-label Email
            input.form-control(type="email", name="email", placeholder="", required)
        div
            button.btn.btn-primary(type="submit", value="Zarejestruj") Zarejestruj
